h1{
	font-size: 150px;
	color: gray;
	font-family: 'Luckiest Guy', cursive;
	animation-name: swageffect;
	animation-duration: 4s;
  	animation-iteration-count: infinite;

}
#first{
	font-size: 48px;
	color: blue;
	font-family: 'Rationale', sans-serif;
}
#special{
	font-size: 50px;
	color: blue;
	font-family: 'Rationale', sans-serif;
}
#List{
	font-size: 50px;
	color: white;
}		
body { 
  background: url(Court.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@keyframes swageffect{
    0%  {color:red;}
   25%  {color:yellow;}
   50%  {color:blue;}
   75%  {color:green;}
   100% {color:red;}
}
