h1{
	font-size: 150px;
	color: gray;
	font-family: 'Luckiest Guy', cursive;
	animation-name: swageffect;
	animation-duration: 4s;
  	animation-iteration-count: infinite;

}
#first{
	font-size: 48px;
	color: blue;
	font-family: 'Rationale', sans-serif;
}
#special{
	font-size: 50px;
	color: blue;
	font-family: 'Rationale', sans-serif;
}
#List{
	font-size: 50px;
	color: white;
}
#index{
	font-size: 50px;
	color: Blue;
}
#two{
  background: url(Join.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	
body { 
  background: url(Court.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@keyframes swageffect{
    0%  {color:Purple;}
   25%  {color:blue;}
   50%  {color:white;}
   75%  {color:black;}
   100% {color:gray;}
}
