h1{
	font-size: 100px;
	color: gray;
	font-family: 'Luckiest Guy', cursive;
}
#first{
	font-size: 48px;
	color: blue;
	font-family: 'Rationale', sans-serif;
}
#special{
	font-size: 50px;
	color: blue;
	font-family: 'Rationale', sans-serif;
}
body { 
  background: url(Court.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
